body{
    background-image: url("../images");
}
.jumbotron{
    background-image: url("../image");
    background-image: repeating-linear-gradient();
}
#glowing{
    width:250px;
}
#gamer{
    text-align: center;
}
#gamebody{
    display: none;
}
#header{
    text-align: center;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.midbody{
    font-size: 17px;
}
#first{
    font-weight: bold;
    font-size:20px;
    text-decoration: underline;
}
#second{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}
#reset{
    text-align:center;
}
#font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    font-weight: 600;
}
#congrats{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    display: none;
}
#reset{
    font-size: 20px;
    font-weight: bold;
}